.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #CAF0F8;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  position: fixed; /* Makes the header stick to the top of the page */
  top: 0; /* Aligns the header at the very top */
  left: 0; /* Aligns the header to the left */
  width: 100%; /* Ensures the header spans the full width of the viewport */
  background-color: #F0F8FF; /* Light background to make the text stand out */
  color: #2E5090; /* Deep blue color for the text */
  padding: 10px 60px; /* Padding around the text */
  margin: 0; /* Removes default margin */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a shadow for a subtle lifting effect */
  z-index: 1000; /* Ensures the header stays on top of other content */
  font-family: 'Arial', sans-serif; /* Sets the font style */
  font-size: 34px; /* Sets the size of the font */
  text-align: left; 

}

body {
  padding-top: 50px; /* Adds padding at the top of the body to avoid overlap with the fixed header */
}


.content-container {
  display: flex;
  justify-content: space-between;
  padding-top: 60px; /* to accommodate the fixed header */
}

.transcription-container, .translation-container {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 2px solid #4EA8DE;
  border-radius: 10px;
  background-color: #CAF0F8;
}
